<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>ImmersiveLabs</title>
</head>

<body>
    <script>
        // Run on window load
        window.onload = function () {
            //sendGetRequest();
            //setInterval(sendGetRequest, 30000);

        }
        // Send request to server
        async function sendGetRequest() {
            await Promise.resolve()
                .then(() => {
                    const xhr = new XMLHttpRequest();
                    xhr.open('GET', '/data');
                    xhr.send();

                    xhr.onreadystatechange = () => {
                        if (xhr.readyState === XMLHttpRequest.DONE) {
                            if (xhr.status === 200) {
                                cg = JSON.parse(xhr.responseText).cg;
                                br = JSON.parse(xhr.responseText).br;
                                console.log(cg, br)
                                document.getElementById('cgpoints').innerHTML = `Points: ${cg.points}`;
                                document.getElementById('brpoints').innerHTML = `Points: ${br.points}`;
                                document.getElementById('cgposition').innerHTML = `Position: ${cg.position}`;
                                document.getElementById('brposition').innerHTML = `Position: ${br.position}`;
                                if (cg.points > br.points) {
                                    document.getElementById('cgdistance').innerHTML = `${cg.points - br.points} Points Ahead`;
                                    document.getElementById('brdistance').innerHTML = `${cg.points - br.points} Points Behind`;
                                } else if (br.points > cg.points) {
                                    document.getElementById('cgdistance').innerHTML = `${br.points - cg.points} Points Behind`;
                                    document.getElementById('brdistance').innerHTML = `${br.points - cg.points} Points Ahead`;
                                } else if (br.points === 0 && cg.points === 0) {
                                    console.log('No Credentials Provided!')
                                } else {
                                    document.getElementById('cgdistance').innerHTML = `Tied!`;
                                    document.getElementById('brdistance').innerHTML = `Tied!`;
                                }
                            } else {
                                console.log(xhr.status)
                            }
                        }
                    };
                })
                .catch(error => {
                    console.log(error)
                });
        }
    </script>
    <script>
        function toggleFullScreen() {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen();
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            }
        }
    </script>
    <script>
        (function () {
            var mouseTimer = null, cursorVisible = true;

            function disappearCursor() {
                mouseTimer = null;
                document.body.style.cursor = "none";
                cursorVisible = false;
            }

            document.onmousemove = function () {
                if (mouseTimer) {
                    window.clearTimeout(mouseTimer);
                }
                if (!cursorVisible) {
                    document.body.style.cursor = "default";
                    cursorVisible = true;
                }
                mouseTimer = window.setTimeout(disappearCursor, 5000);
            };
        })();
    </script>
    <div class="wrapper">
        <div class="card">
            <div class="title">
                <img src="/static/images/cg.png" alt="Coleg Gwent Logo">
                <div class="name">Coleg Gwent</div>
            </div>
            <div class="content">
                <div id="cgpoints" class="points">Points: 19000</div>
                <div id="cgposition" class="position">Position: 40</div>
                <div id="cgdistance" class="distance">3000 Points Ahead</div>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <img src="/static/images/br.png" alt="Bridgend Logo">
                <div class="name">Bridgend</div>
            </div>
            <div class="content">
                <div id="brpoints" class="points">Points: 16000</div>
                <div id="brposition" class="position">Position: 45</div>
                <div id="brdistance" class="distance">3000 Points Behind</div>
            </div>
        </div>
    </div>
    <button class="fullscreenToggle" , id="fullscreenToggle" , onclick="toggleFullScreen()"></button>
</body>

</html>